   <div class="parent">
        <div class="form-box">
            <form class="form"  [formGroup]="sendemailform" (ngSubmit)="sendEmail(sendemailform.value)">
                <h2 class="title">NGX-MAIL-SENDER</h2>
                <div class="form-container">
                    <label for="to">To:</label>
                    <input type="email" formControlName="to" id="to" class="input" placeholder="to">

                    <label for="subject">Subject:</label>
                    <input type="text" formControlName="subject" id="subject" class="input" placeholder="subject">

                    <label for="text">Message:</label>
                    <textarea id="text" formControlName="text" class="input" placeholder="text"></textarea>

                    <label for="fromTitle">From Title:</label>
                    <input type="text" formControlName="fromTitle" id="fromTitle" class="input" placeholder="fromTitle">
                </div>
                <button type="submit">Send Email</button>
            </form>
           
        </div>
    </div>

