<!-- <div class="parent">
  <div class="form-box">
    <form class="form" [formGroup]="sendemailform" (ngSubmit)="sendEmail(sendemailform.value)">
      <h2 class="title">Sign up</h2>
      <p class="subtitle">Create a free account with your email.</p>
      <div class="form-container">
        <label for="to">To:</label>
        <input type="email" id="to" formControlName="to" class="input" placeholder="to">

        <label for="subject">Subject:</label>
        <input type="text" id="subject" formControlName="subject" class="input" placeholder="subject">

        <label for="text">Message:</label>
        <textarea id="text" formControlName="text" class="input" placeholder="text"></textarea>
       
        <label for="fromTitle">From Title:</label>
        <input type="text" id="fromTitle" formControlName="fromTitle" class="input" placeholder="fromTitle">
      </div>
      <button type="submit">Send Email</button>
    </form>
    <div class="form-section">
      <p>Have an account? <a href="">Log in</a></p>
    </div>
  </div>
</div> -->












    <div class="parent">
        <div class="form-box">
            <form class="form"  [formGroup]="sendemailform" (ngSubmit)="sendEmail(sendemailform.value)">
                <h2 class="title">NGX-MAIL-SENDER</h2>
                <div class="form-container">
                    <label for="to">To:</label>
                    <input type="email" formControlName="to" id="to" class="input" placeholder="to">

                    <label for="subject">Subject:</label>
                    <input type="text" formControlName="subject" id="subject" class="input" placeholder="subject">

                    <label for="text">Message:</label>
                    <textarea id="text" formControlName="text" class="input" placeholder="text"></textarea>

                    <label for="fromTitle">From Title:</label>
                    <input type="text" formControlName="fromTitle" id="fromTitle" class="input" placeholder="fromTitle">
                </div>
                <button type="submit">Send Email</button>
            </form>
           
        </div>
    </div>

